In [1]:
# File Name: Data_Scraping.ipynb

# Objective: To scrape the basketball reference website and gain the data for the players, mvp's and team for the data analysis and make predictions

#  Aurthor: PARAM JASWAL 

# Programming language: Python

# Libraries: Pandas, requests, beautifulsoup, datetime, os, selenium, time

# Total Parts: 3(mvp scraping, player scraping, team scraping)

# complete project avalible at: https://github.com/param10/NBa_MVP_Prediction

# install all the required libraries

In [20]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import datetime
import os
from selenium import webdriver
import time

# setting a dynamic year range so it updates with every new season

In [4]:
current_year = datetime.datetime.now().year
years = list(range(1956, current_year))
years

[1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022]

# Part 1: Scraping MVP data.

In [5]:
# gets the link for all the years for MVP data and checks if it exists and if it does it skips to the next

for year in years:
    file_path = f"/Users/paramjaswal/Desktop/NBa/MVP/{year}.html"

    # Check if the file already exists
    if not os.path.exists(file_path):
        url = f'https://www.basketball-reference.com/awards/awards_{year}.html'
        data = requests.get(url)

        with open(file_path, "w+") as f:
            f.write(data.text)
            print(f"Data for {year} written to file.")
    else:
        print(f"Data for {year} already exists, skipping.")

Data for 1956 already exists, skipping.
Data for 1957 already exists, skipping.
Data for 1958 already exists, skipping.
Data for 1959 already exists, skipping.
Data for 1960 already exists, skipping.
Data for 1961 already exists, skipping.
Data for 1962 already exists, skipping.
Data for 1963 already exists, skipping.
Data for 1964 already exists, skipping.
Data for 1965 already exists, skipping.
Data for 1966 already exists, skipping.
Data for 1967 already exists, skipping.
Data for 1968 already exists, skipping.
Data for 1969 already exists, skipping.
Data for 1970 already exists, skipping.
Data for 1971 already exists, skipping.
Data for 1972 already exists, skipping.
Data for 1973 already exists, skipping.
Data for 1974 already exists, skipping.
Data for 1975 already exists, skipping.
Data for 1976 already exists, skipping.
Data for 1977 already exists, skipping.
Data for 1978 already exists, skipping.
Data for 1979 already exists, skipping.
Data for 1980 already exists, skipping.
Data for 1981 already exists, skipping.
Data for 1982 already exists, skipping.
Data for 1983 already exists, skipping.
Data for 1984 already exists, skipping.
Data for 1985 already exists, skipping.
Data for 1986 already exists, skipping.
Data for 1987 already exists, skipping.
Data for 1988 already exists, skipping.
Data for 1989 already exists, skipping.
Data for 1990 already exists, skipping.
Data for 1991 already exists, skipping.
Data for 1992 already exists, skipping.
Data for 1993 already exists, skipping.
Data for 1994 already exists, skipping.
Data for 1995 already exists, skipping.
Data for 1996 already exists, skipping.
Data for 1997 already exists, skipping.
Data for 1998 already exists, skipping.
Data for 1999 already exists, skipping.
Data for 2000 already exists, skipping.
Data for 2001 already exists, skipping.
Data for 2002 already exists, skipping.
Data for 2003 already exists, skipping.
Data for 2004 already exists, skipping.
Data for 2005 already exists, skipping.
Data for 2006 already exists, skipping.
Data for 2007 already exists, skipping.
Data for 2008 already exists, skipping.
Data for 2009 already exists, skipping.
Data for 2010 already exists, skipping.
Data for 2011 already exists, skipping.
Data for 2012 already exists, skipping.
Data for 2013 already exists, skipping.
Data for 2014 already exists, skipping.
Data for 2015 already exists, skipping.
Data for 2016 already exists, skipping.
Data for 2017 already exists, skipping.
Data for 2018 already exists, skipping.
Data for 2019 already exists, skipping.
Data for 2020 already exists, skipping.
Data for 2021 already exists, skipping.
Data for 2022 already exists, skipping.

In [6]:
# we parse the data through beautiful soup finding the tag and saving it to mvp list

dfs = []
for year in years:
    with open(f"/Users/paramjaswal/Desktop/NBa/MVP/{year}.html", "r") as f:
        page = f.read()
        soup = BeautifulSoup(page, "html.parser")
        header_row = soup.find('tr', class_="over_header")
        if header_row:
            header_row.decompose()
        mvp_table = soup.find(id="mvp") or soup.find(id="nba_mvp")
        mvp = pd.read_html(str(mvp_table))[0]
        mvp["Year"] = year
        dfs.append(mvp)

In [7]:
# we the eventually merge all the mvp years over axis = 0

mvps = pd.concat(dfs, ignore_index=True)
mvps

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Bob Pettit,23,STL,33.0,33.0,80,0.413,72,38.8,...,16.2,2.6,NaN,NaN,0.429,NaN,0.736,13.8,0.236,1956
1,2,Paul Arizin,27,PHW,21.0,21.0,80,0.263,72,37.8,...,7.5,2.6,NaN,NaN,0.448,NaN,0.810,12.2,0.214,1956
2,3,Bob Cousy,27,BOS,11.0,11.0,80,0.138,72,38.4,...,6.8,8.9,NaN,NaN,0.360,NaN,0.844,6.8,0.119,1956
3,4,Mel Hutchins,27,FTW,9.0,9.0,80,0.113,66,33.9,...,7.5,2.7,NaN,NaN,0.425,NaN,0.643,4.4,0.095,1956
4,5T,Dolph Schayes,27,SYR,2.0,2.0,80,0.025,72,35.0,...,12.4,2.8,NaN,NaN,0.387,NaN,0.858,11.8,0.225,1956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1018,8,Stephen Curry,33,GSW,0.0,4.0,1000,0.004,64,34.5,...,5.2,6.3,1.3,0.4,0.437,0.380,0.923,8.0,0.173,2022
1019,9,Chris Paul,36,PHO,0.0,2.0,1000,0.002,65,32.9,...,4.4,10.8,1.9,0.3,0.493,0.317,0.837,9.4,0.210,2022
1020,10T,DeMar DeRozan,32,CHI,0.0,1.0,1000,0.001,76,36.1,...,5.2,4.9,0.9,0.3,0.504,0.352,0.877,8.8,0.154,2022
1021,10T,Kevin Durant,33,BRK,0.0,1.0,1000,0.001,55,37.2,...,7.4,6.4,0.9,0.9,0.518,0.383,0.910,8.4,0.198,2022
1022,10T,LeBron James,37,LAL,0.0,1.0,1000,0.001,56,37.2,...,8.2,6.2,1.3,1.1,0.524,0.359,0.756,7.5,0.172,2022

In [8]:
# saving it to the local machine

mvps.to_csv("/Users/paramjaswal/Desktop/NBa/mvps.csv")

# Part 2: Scraping Players data

In [9]:
# Initializing safari driver(you can initialize whatever browser driver you want)

driver = webdriver.Safari()

In [10]:
# gets the link for all the years for Player data and checks if it exists and if it does it skips to the next using selenium

for year in years:
    # Check if the file already exists
    file_path = f"/Users/paramjaswal/Desktop/NBa/Player/{year}.html"

    if not os.path.exists(file_path):
        player_stats_url = f"https://www.basketball-reference.com/leagues/NBA_{year}_per_game.html"
        driver.get(player_stats_url)
        driver.execute_script("window.scrollTo(1, 10000)")
        with open(file_path, "w+") as f:
            f.write(driver.page_source)
            print(f"Data for {year} written to file.")
    else:
        print(f"Data for {year} already exists, skipping.")

Data for 1956 already exists, skipping.
Data for 1957 already exists, skipping.
Data for 1958 already exists, skipping.
Data for 1959 already exists, skipping.
Data for 1960 already exists, skipping.
Data for 1961 already exists, skipping.
Data for 1962 already exists, skipping.
Data for 1963 already exists, skipping.
Data for 1964 already exists, skipping.
Data for 1965 already exists, skipping.
Data for 1966 already exists, skipping.
Data for 1967 already exists, skipping.
Data for 1968 already exists, skipping.
Data for 1969 already exists, skipping.
Data for 1970 already exists, skipping.
Data for 1971 already exists, skipping.
Data for 1972 already exists, skipping.
Data for 1973 already exists, skipping.
Data for 1974 already exists, skipping.
Data for 1975 already exists, skipping.
Data for 1976 already exists, skipping.
Data for 1977 already exists, skipping.
Data for 1978 already exists, skipping.
Data for 1979 already exists, skipping.
Data for 1980 already exists, skipping.
Data for 1981 already exists, skipping.
Data for 1982 already exists, skipping.
Data for 1983 already exists, skipping.
Data for 1984 already exists, skipping.
Data for 1985 already exists, skipping.
Data for 1986 already exists, skipping.
Data for 1987 already exists, skipping.
Data for 1988 already exists, skipping.
Data for 1989 already exists, skipping.
Data for 1990 already exists, skipping.
Data for 1991 already exists, skipping.
Data for 1992 already exists, skipping.
Data for 1993 already exists, skipping.
Data for 1994 already exists, skipping.
Data for 1995 already exists, skipping.
Data for 1996 already exists, skipping.
Data for 1997 already exists, skipping.
Data for 1998 already exists, skipping.
Data for 1999 already exists, skipping.
Data for 2000 already exists, skipping.
Data for 2001 already exists, skipping.
Data for 2002 already exists, skipping.
Data for 2003 already exists, skipping.
Data for 2004 already exists, skipping.
Data for 2005 already exists, skipping.
Data for 2006 already exists, skipping.
Data for 2007 already exists, skipping.
Data for 2008 already exists, skipping.
Data for 2009 already exists, skipping.
Data for 2010 already exists, skipping.
Data for 2011 already exists, skipping.
Data for 2012 already exists, skipping.
Data for 2013 already exists, skipping.
Data for 2014 already exists, skipping.
Data for 2015 already exists, skipping.
Data for 2016 already exists, skipping.
Data for 2017 already exists, skipping.
Data for 2018 already exists, skipping.
Data for 2019 already exists, skipping.
Data for 2020 already exists, skipping.
Data for 2021 already exists, skipping.
Data for 2022 already exists, skipping.

In [11]:
# close the safari driver

driver.quit()

In [12]:
# we parse the data through beautiful soup finding the tag and saving it to player list

dfs = []
for year in years:
    with open(f"/Users/paramjaswal/Desktop/NBa/Player/{year}.html", "r") as f:
        page = f.read()
        soup = BeautifulSoup(page, "html.parser")

        header_rows = soup.find_all('tr', class_="thead")
        for header in header_rows:
            header.decompose()

        player_table = soup.find(id = "per_game_stats") or soup.find(id = "div_per_game_stats")
        player = pd.read_html(str(player_table))[0]
        player["Year"] = year
        dfs.append(player)

In [13]:
# combining all the data

players = pd.concat(dfs, ignore_index=True)
players

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Paul Arizin*,SF,27,PHW,72,NaN,37.8,8.6,19.1,...,NaN,NaN,7.5,2.6,NaN,NaN,NaN,3.9,24.2,1956
1,2,Jesse Arnelle,PF,22,FTW,31,NaN,13.2,1.7,5.3,...,NaN,NaN,5.5,0.6,NaN,NaN,NaN,1.9,4.7,1956
2,3,Dick Atha,SG,24,NYK,25,NaN,11.5,1.4,3.5,...,NaN,NaN,1.7,1.3,NaN,NaN,NaN,1.6,3.7,1956
3,4,Jim Baechtold,SF,28,NYK,70,NaN,24.8,3.8,9.9,...,NaN,NaN,3.1,2.3,NaN,NaN,NaN,2.2,11.0,1956
4,5,Ernie Barrett,SG,26,BOS,72,NaN,20.2,2.9,7.4,...,NaN,NaN,3.4,2.4,NaN,NaN,NaN,2.6,7.0,1956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27168,601,Thaddeus Young,PF,33,TOR,26,0.0,18.3,2.6,5.5,...,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3,2022
27169,602,Trae Young,PG,23,ATL,76,76.0,34.9,9.4,20.3,...,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4,2022
27170,603,Omer Yurtseven,C,23,MIA,56,12.0,12.6,2.3,4.4,...,1.5,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3,2022
27171,604,Cody Zeller,C,29,POR,27,0.0,13.1,1.9,3.3,...,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2,2022
27172,605,Ivica Zubac,C,24,LAC,76,76.0,24.4,4.1,6.5,...,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3,2022

In [14]:
#  saving player data to the local machine

players.to_csv("/Users/paramjaswal/Desktop/NBa/players.csv")

# Part 3: Scraping Team data

In [15]:
# gets the link for all the years for Team data and checks if it exists and if it does it skips to the next

for year in years:
    file_path = f"/Users/paramjaswal/Desktop/NBa/Team/{year}.html"

    # Check if the file already exists
    if not os.path.exists(file_path):
        team_stats_url = f"https://www.basketball-reference.com/leagues/NBA_{year}_standings.html"
        data = requests.get(url)
        with open(file_path, "w+") as f:
            f.write(data.text)
            print(f"Data for {year} written to file.")
    else:
        print(f"Data for {year} already exists, skipping.")

Data for 1956 written to file.
Data for 1957 written to file.
Data for 1958 written to file.
Data for 1959 written to file.
Data for 1960 written to file.
Data for 1961 written to file.
Data for 1962 written to file.
Data for 1963 written to file.
Data for 1964 written to file.
Data for 1965 written to file.
Data for 1966 written to file.
Data for 1967 written to file.
Data for 1968 written to file.
Data for 1969 written to file.
Data for 1970 written to file.
Data for 1971 written to file.
Data for 1972 written to file.
Data for 1973 written to file.
Data for 1974 written to file.
Data for 1975 written to file.
Data for 1976 written to file.
Data for 1977 written to file.
Data for 1978 written to file.
Data for 1979 written to file.
Data for 1980 written to file.
Data for 1981 written to file.
Data for 1982 written to file.
Data for 1983 written to file.
Data for 1984 written to file.
Data for 1985 written to file.
Data for 1986 written to file.
Data for 1987 written to file.
Data for 1988 written to file.
Data for 1989 written to file.
Data for 1990 written to file.
Data for 1991 written to file.
Data for 1992 written to file.
Data for 1993 written to file.
Data for 1994 written to file.
Data for 1995 written to file.
Data for 1996 written to file.
Data for 1997 written to file.
Data for 1998 written to file.
Data for 1999 written to file.
Data for 2000 written to file.
Data for 2001 written to file.
Data for 2002 written to file.
Data for 2003 written to file.
Data for 2004 written to file.
Data for 2005 written to file.
Data for 2006 written to file.
Data for 2007 written to file.
Data for 2008 written to file.
Data for 2009 written to file.
Data for 2010 written to file.
Data for 2011 written to file.
Data for 2012 written to file.
Data for 2013 written to file.
Data for 2014 written to file.
Data for 2015 written to file.
Data for 2016 written to file.
Data for 2017 written to file.
Data for 2018 written to file.
Data for 2019 written to file.
Data for 2020 written to file.
Data for 2021 written to file.
Data for 2022 written to file.

In [73]:
# we parse the data through beautiful soup finding the tag and saving it to team list

dfs = []
for year in years:
    with open(f"/Users/paramjaswal/Desktop/NBa/Team/{year}.html", "r") as f:
        page = f.read()
        soup = BeautifulSoup(page, "html.parser")
        header_rows = soup.find_all('tr', class_="thead")
        for header in header_rows:
            header.decompose()

        team_table = soup.find(id = "divs_standings_") or soup.find(id = "divs_standings_E")
        team = pd.read_html(str(team_table))[0]
        team["Year"] = year
        dfs.append(team)
        if "Eastern Conference" in team.columns:
            team["Team"] = team["Eastern Conference"]
            del team["Eastern Conference"]

        team_table = soup.find(id = "divs_standings_W")
        if team_table:
            team = pd.read_html(str(team_table))[0]
            team["Year"] = year
            dfs.append(team)
            team["Team"] = team["Western Conference"]
            del team["Western Conference"]

In [78]:
# combining all the team data using concat

teams = pd.concat(dfs, ignore_index=True)
teams

                        Team   W   L   W/L%    GB   PS/G   PA/G   SRS  Year
0     Philadelphia Warriors*  45  27  0.625     —  103.1   98.8  3.82  1956
1            Boston Celtics*  39  33  0.542   6.0  106.0  105.3  0.72  1956
2        Syracuse Nationals*  35  37  0.486  10.0   96.9   96.9  0.17  1956
3           New York Knicks*  35  37  0.486  10.0  100.2  100.6 -0.20  1956
4        Fort Wayne Pistons*  37  35  0.514     —   94.4   93.7  0.45  1956
...                      ...  ..  ..    ...   ...    ...    ...   ...   ...
1502      Memphis Grizzlies*  56  26  0.683     —  115.6  109.9  5.37  2022
1503       Dallas Mavericks*  52  30  0.634   4.0  108.0  104.7  3.12  2022
1504   New Orleans Pelicans*  36  46  0.439  20.0  109.3  110.3 -0.84  2022
1505       San Antonio Spurs  34  48  0.415  22.0  113.2  113.0  0.02  2022
1506         Houston Rockets  20  62  0.244  36.0  109.7  118.2 -8.26  2022

[1507 rows x 9 columns]

In [79]:
# saving team data to the local machine

teams.to_csv("/Users/paramjaswal/Desktop/NBa/teams.csv")

In [ ]:
# Last Updated: 5th August 2023
# Update Notes: Code was reviewed and comments were added.

In [ ]:
# Conclusion: This code has successfully scraped the data for mvp, player and team. Parsed, combined and saved to the local machine.